{% extends 'base.html' %}

{% block header %}
<title>活动中的队伍</title>
{% end %}

{% block table %}
<div class='mid'>
  <table class='table table-hover table-striped table-bordered'>
    <tr><td><strong>Id</strong></td><td><strong>名称</strong></td><td><strong>口号</strong></td><td><strong>分数</strong></td><td><strong>签到</strong></td><td><strong>操作</strong></td><td>修改成绩</td></td></tr
    {% for team in teams %}
      <tr>
      <td>{{team["id"]}}</td>
      <td><a href="/show/team/detail/?team_id={{team["id"]}}">{{team["name"]}}</a></td>
      <td>{{team["slogan"]}}</td>
      <td>{{team["score"]}}</td>
      <td>{% if team["check"] %}是{% else %}否{% end %}</td>
      <td>
          {% if team["check"] %}
          {% else %}
          <form action='/show/activity/check/' method='POST'>
              <input type='hidden' name='team_id' value="{{team["id"]}}"></input>
              <input type='submit' value='check' class='btn btn-primary btn-sm'>
          </form>

          {% end %}
      </td>
          <td><form action="/show/team/detail/" method="POST">
              <input type="hidden" name="team_id" value="{{ team["id"] }}"></input>
              <input type="text" name="score" placeholder="modify the score"></input>
              <input type="submit" value="修改成绩" class="btn btn-primary btn-sm">
          </form></td>
      </tr>
    {% end %}
  </table>

</div>
<div class='bottom'>

</div>
{% end %}
